*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #20202D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 945px;
    margin: auto;
}
img{
    max-width: 100%;
}
.hero{
    padding-top: 50px;
    min-height: 100vh;
    background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    width: 90%;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
}
.logo img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.social-links img{
    width: 25px;
    height: 25px;
}
.social-link:first-child{
    margin-left: 0;
}
.social-link{
    margin-left: 20px;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-subtitle{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    margin-bottom: 14px;
}
.hero-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0;
    margin-bottom: 20px;
}
.hero-description{
    max-width: 420px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 38px;
}
.button{
    padding: 24px 42px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    text-decoration: underline;
}
button:active, button:focus{
    border: none;
    outline: 0;
    outline-offset: 0;
}
.hero-avatar{
    height: 360px;
    width: 360px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../img/avatarMin.png');
    background-position: center top -10px;
    border: 13px solid #fff;
}
section, .section{
    min-height: 100vh;
    height: auto;
    padding: 4vh 0;
}
/* features */
.features{
    background-color: #000;
}
.section-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
}
.features-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-item{
    width: 30%;
    margin-bottom: 40px;
}
.features-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin:0;
    margin-top: 10px;
}
/* projects */
.projects{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
.project-slide{
    display: flex;
    justify-content: space-between;
}
.project-slide a{
    cursor: pointer;
}
.project-image{
    width: 450px;
    border-radius: 5px;
}
.project-text{
    max-width: 460px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.project-title{
    margin-bottom: 45px;
}
.project-info{
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}
.project-link{
    color: #FFBB01;
    margin-top: 10px;
}
.projects-pagination{
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.projects-bullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #FFBB01;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.projects-bullet-active{
    background-color: #FFBB01;
}

/* contacts */
.contacts-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.info{
    max-width: 450px;
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    padding: 20px 30px;
}
.info-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin:0;
    margin-bottom: 15px;
}
.info-p{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000;
    margin:0;
    margin-top: 15px;
}
.input{
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 15px 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 28px;
}
.input-name{
    margin-bottom: 15px;
    background-image: url('../img/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.input-phone{
    margin-bottom: 25px;
    background-image: url('../img/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.form-button{
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
}
.contacts-text{
    max-width: 380px;
}
.contacts-data{
    display: flex;
    flex-wrap: wrap;
}
.contacts-phone, .contacts-mail{
    flex-basis: 50%;
    margin-bottom: 50px;
}
.contacts-social{
    flex-basis: 100%;
}
.contacts-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}
.contacts-link{
    color: inherit;
    text-decoration: none;
    margin-right: 30px;
}
.contacts-link:hover{
    text-decoration: underline;
}
.contacts-policy{
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #A5A5A5;
    margin-top: 72px;
}
/* responsive */
@media (min-width: 1500px){
    .container{
        width: 80%;
        max-width: 1500px;
    }
    .hero-header{
        margin-bottom: 150px;
        width: 98%;
    }
    .logo{
        font-size: 30px;
        line-height: 30px;
    }
    .logo img{
        width: 65px;
        height: 65px;
        margin-right: 20px;
    }
    .social-links img{
        width: 45px;
        height: 45px;
    }
    .social-link{
        margin-left: 40px;
    }
    .hero-subtitle{
        font-size: 34px;
        line-height: 28px;
        margin-bottom: 34px;
    }
    .hero-title{
        font-size: 70px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .hero-description{
        max-width: 650px;
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 48px;
    }
    .button{
        padding: 28px 46px;
        background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
        box-shadow: 0px 4px 0px #B68500;
        border-radius: 5px 5px 10px 10px;
        border: none;
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .hero-avatar{
        height: 460px;
        width: 460px;
        background-size: 140%;
        border: 16px solid #fff;
    }
    .section-title{
        font-weight: bold;
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 90px;
    }
    .features-item{
        width: 30%;
        margin-bottom: 70px;
    }
    .features-title{
        font-size: 34px;
        line-height: 44px;
        margin-top: 20px;
    }
    .features-text{
        font-size: 23px;
        line-height: 26px;
        margin-top: 20px;
    }
    .project-image{
        width: 560px;
        border-radius: 10px;
    }
    .project-text{
        max-width: 560px;
    }
    .project-title{
        margin-bottom: 55px;
        font-size: 32px;
        line-height: 38px;
    }
    .project-subtitle{
        font-size: 22px;
        line-height: 28px;
    }
    .project-info{
        margin-top: 25px;
        font-size: 20px;
        line-height: 28px;
    }
    .project-link{
        margin-top: 15px;
        font-size: 20px;
        line-height: 28px;
    }
    .projects-pagination{
        margin-top: 74px;
    }
    .projects-bullet{
        width: 16px;
        height: 16px;
        border: 3px solid #FFBB01;
        margin: 0 8px;
    }
    .contacts-form{
        max-width: 480px;
    }
    .form-title{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    .input{
        padding: 18px 58px;
        width: 100%;
        font-size: 20px;
        line-height: 32px;
    }
    .form-button{
        font-size: 20px;
        line-height: 32px;
    }
    .contacts-text{
        max-width: 520px;
    }
    .contacts-phone, .contacts-mail{
        margin-bottom: 60px;
    }
    .contacts-title{
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 25px;
    }
    .contacts-link{
        font-size: 26px;
        line-height: 32px;
        margin-right: 30px;
    }
    .contacts-policy{
        font-size: 20px;
        line-height: 28px;
        margin-top: 102px;
    }
}
@media (max-width: 1100px){
    .hero-avatar{
        width: 300px;
        height: 300px;
        border-width: 10px;
    }
    .project-text{
        margin-left: 30px;
    }
}
@media (max-width: 836px){
    .hero-content{
        flex-direction: column;
    }
    .hero-avatar{
        order: 0;
        width: 300px;
        height: 300px;
        border-width: 10px;
        margin-bottom: 17px;
    }
    .hero-text{
        order: 1;
        text-align: center;
    }
    .features-item{
        flex-basis: 45%;
    }
    .project-slide{
        flex-direction: column;
        align-items: center;
    }
    .project-image{
        margin-bottom: 40px;
    }
    .contacts-block{
        flex-direction: column;
        align-items: center;
    }
    .contacts-form{
        margin-bottom: 58px;
    }
}
@media (max-width: 564px){
    section, .section{
        min-height: 60vh;
        height: auto;
        padding: 4vh 0;
    }
    .logo{
        font-size: 14px;
        line-height: 16px;
    }
    .logo img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .social-links img{
        width: 20px;
        height: 20px;
    }
    .hero-avatar{
        width: 145px;
        height: 145px;
        border-width: 4px;
        background-size: 140%;
        background-position: center top;
    }
    .hero-header{
        margin-bottom: 38px;
    }
    .social-link{
        margin-left: 5px;
    }
    .hero-title{
        font-size: 24px;
        line-height: 28px;
    }
    .hero-subtitle{
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 7px;
    }
    .hero-description{
        font-size: 14px;
        line-height: 20px;
    }
    .button{
        padding: 20px 30px;
    }
    .section-title{
        font-size: 19px;
        line-height: 22px;
    }
    .features-item{
        flex-basis: 100%;
    }
    .features-title{
        font-size: 18px;
        line-height: 28px;
    }
    .features-text{
        font-size: 14px;
        line-height: 28px;
    }
    .project-image {
        margin-bottom: 30px;
    }
    .project-text {
        margin-left: 0px;
    }
    .project-title {
        margin-bottom: 25px;
    }
    .contacts-form{
        padding: 40px 19px;
    }
    .form-title{
        font-size: 15px;
        line-height: 21px;
    }
    .form-button{
        font-size: 11px;
    }
    .contacts-mail, .contacts-phone{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contacts-title{
        font-size: 18px;
        line-height: 21px;
    }
    .contacts-link{
        font-size: 14px;
        line-height: 16px;
    }
    .contacts-policy{
        margin-bottom: 50px;
    }
}
